@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($values,$type:column,$wrap:unset) {
  display: flex;
  flex-direction: $type;
  flex:  $values;
  flex-wrap: $wrap;
}