html,
body,
ul,
ol,
li,
dl,
dt,
dd,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background:#f5f5f5
}

body,
textarea {
    font-family: Arial, "Microsoft Yahei";
}

a,
a:link {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.van-popup--bottom.van-popup--round{
    border-radius: 0 !important;
}
