.news__main {
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.news__main-l {
  float: left;
  padding: 10px 20px 20px;
}
.news__main-l-header {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-bottom: #eee solid 1px;
}
.news__main-l-detail {
  padding: 20px 0;
}
.news__main-l-detail-title {
  padding: 20px 10px;
  font-size: 22px;
  color: #000;
  text-align: center;
  line-height: 30px;
}
.news__main-l-detail-bnt {
  position: relative;
  line-height: 30px;
}
.news__main-l-detail-bnt span {
  color: #B9B9B9;
  margin-right: 20px;
}
.news__main-l-detail-bnt::after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -100%;
  right: 0;
  background: #eaeaea;
  transform: scale(0.333);
  -webkit-transform: scale(0.333);
  width: 300%;
}
.news__main-l-detail-content {
  padding: 20px 0 0px;
}
.news__main-l-detail-content table {
  width: 100% !important;
  box-sizing: border-box;
}
.news__main-l-detail-content p {
  color: #333;
  line-height: 1.7;
  margin-bottom: 10px;
  text-indent: 2em;
  font-size: 16px;
}
.news__main-l-detail-content img,
.news__main-l-detail-content video {
  max-width: 90%;
  display: block;
  margin: auto;
}
.news__main-l-detail-content figure,
.news__main-l-detail-content .photo,
.news__main-l-detail-content .video .art_video {
  text-align: center;
  margin: 20px 0;
}
.news__main-l-detail-content figure img,
.news__main-l-detail-content .photo img,
.news__main-l-detail-content .video .art_video img {
  max-width: 90%;
}
.news__main-l-detail-content .art_img_tit {
  font-size: 16px;
}
.news__main-l-detail-btns {
  padding: 25px 0;
  text-align: center;
}
.news__main-l-detail-btns .item {
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px;
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0 20px;
  color: #999;
}
.news__main-l-detail-btns .item.detail-item-praise.active {
  color: red;
  border: 1px solid red;
  position: relative;
}
.news__main-l-detail-btns .item.detail-item-praise.active::after {
  content: '+1';
  position: absolute;
  top: -20px;
  font-size: 10px;
  left: 50%;
  margin-left: -5px;
  color: red;
  opacity: 0;
  -webkit-animation: praise 2.5s;
}
.news__main-l-detail-btns .item.detail-item-cai.active {
  color: #000;
  border: 1px solid #000;
  position: relative;
}
.news__main-l-detail-btns .item.detail-item-cai.active::after {
  content: '+1';
  position: absolute;
  top: -20px;
  font-size: 10px;
  left: 50%;
  margin-left: -5px;
  color: #000;
  opacity: 0;
  -webkit-animation: praise 2.5s;
}
.news__main-l-related-title {
  border-bottom: 3px solid #F5F5F5;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.news__main-l-related-title span {
  border-bottom: 3px solid #D73C3C;
  padding-bottom: 7px;
  font-size: 18px;
  color: #3C3B3C;
}
.news__main-l-related-title span .iconfont {
  color: #F44D4D;
  font-size: 20px;
}
.news__main-l-related-list-item {
  display: block;
  float: left;
  width: calc(33.3% - 10px);
  background-color: #F1F6F8;
  padding: 10px 10px 32px 10px;
  margin: 5px 15px 0px 0px;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.news__main-l-related-list-item-pc {
  height: 120px;
  line-height: 88px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.news__main-l-related-list-item-pc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
  border-radius: 4px;
}
.news__main-l-related-list-item-pc .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #D73C3C;
  color: #fff;
  font-size: 14px;
}
.news__main-l-related-list-item-text .title {
  display: block;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 22px;
  margin-bottom: 10px;
  color: #000;
  height: 44px;
}
.news__main-l-related-list-item-text p {
  color: #676666;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 44px;
  line-height: 22px;
  font-size: 14px;
  display: none;
}
.news__main-l-related-list-item-btns {
  position: absolute;
  left: 10px;
  bottom: 8px;
  height: 22px;
  line-height: 22px;
  text-align: left;
}
.news__main-l-related-list-item-btns span {
  font-size: 12px;
  color: #999;
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
}
.news__main-l-related-list-item-btns span .iconfont {
  margin-right: 1px;
  vertical-align: middle;
}
.news__main-l-related-list-item-btns .author {
  display: inline-block;
  max-width: 100px;
  height: 100%;
  overflow: hidden;
}
.news__main-l-related-list-item-btns .browse {
  margin-right: 0;
}
.news__main-l-related-list-item:nth-child(3n) {
  margin-right: 0;
}
.news__main-r {
  width: 340px;
  float: right;
}
@-webkit-keyframes praise {
  0% {
    top: -25px;
    opacity: 0;
    transform: scale(1);
  }
  50% {
    top: -30px;
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    top: -40px;
    opacity: 0;
    transform: scale(1);
  }
}
@media screen and (max-width: 450px) {
  .news__main-l-header {
    display: none;
  }
  .news__main-l-related-list-item {
    width: 100% !important;
    padding-bottom: 10px;
  }
  .news__main-l-related-list-item-text {
    float: right;
    width: calc(100% - 85px);
    margin-left: 5px;
  }
  .news__main-l-related-list-item-pc {
    float: left;
    width: 80px;
    height: 80px;
  }
  .news__main-l-related-list-item-btns {
    left: 95px;
  }
  .news__main-l-detail {
    padding-top: 0px !important;
  }
  .news__main-l-detail-title {
    margin: 0;
  }
}
