    <div class="login-container">
        <div class="loginbox bg-white">
            <div class="loginbox-title">用户登录</div>

            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="用户名" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="密码" />
            </div>
            <div class="loginbox-forgot">
                <a href="">忘记密码?</a>
            </div>
            <div class="loginbox-submit">
                <input type="button" class="btn btn-primary btn-block" value="登录">
            </div>
            <div class="loginbox-signup" onclick="openRegisterMotal()">
                <a href="{:url('/admin/register')}">注册账户</a>
            </div>
        </div>
        <div class="logobox">
            <p class="text-center" style="font-size: 18px;font-weight: bold;text-shadow: 3px 3px 3px #FF0000;font-style: italic;">
               欢迎来到coco网
            </p>
        </div>
    </div>

  
    <!-- <script>
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

        });
    </script> -->
</body>
<!--  /Body -->
</html>
