{include file="/common/file" /}
    <div class="login-container">
        <div class="loginbox bg-white">
            <div class="loginbox-title">注册</div>

            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="用户昵称" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="用户邮箱" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="用户密码" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="确认密码" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="验证码" />
            </div>
            <div class="loginbox-submit">
                <input type="button" class="btn btn-primary btn-block" value="立即注册">
            </div>
            <div class="loginbox-signup">
                <a>登录账户</a>
            </div>
        </div>
        <div class="logobox">
            <p class="text-center" style="font-size: 18px;font-weight: bold;text-shadow: 3px 3px 3px #FF0000;font-style: italic;">
               欢迎来到coco网
            </p>
        </div>
    </div>

  
    <!-- <script>
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

        });
    </script> -->
</body>
<!--  /Body -->
</html>
