.web__header {
 background: #fff;
   width: 100%;
   height: 60px;
   z-index: 999;
   line-height: 60px;
   position: fixed;
   top: 0;
   left: 0;
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
   &-logo {
      float: left;
      padding-left: 15px;
      a {
         display: inline-block;
         font-size: 0;
         position: relative;
          vertical-align:top;
         img {
            height: 60px;
            object-fit: cover;
         }
      }
   }

   &-more {
      display: none;
   }

   &-list {
      float: left;
      height: 100%;

      &-item {
         float: left;
         height: 100%;
         overflow: hidden;
         position: relative;

         &-icon {
            display: none;
         }

         a {
            display: inline-block;
            padding: 0 15px;
            color: #000;
            font-size: 18px;
            height: 100%;
            >div{
               display: inline-block;
            }
         }

         &.active{
             a{
                color: #FFA500;
             }
         }
      }
   }

   &-right {
      position:absolute;
      right: 20px;
      top: 0;
      color: #00A5EB;
      .item {
         cursor: pointer;
         margin-right: 10px;
         float: left;
         position: relative;
        .user-mune{
         position: absolute;
         top:100%;
         left: 0;
         width: 100%;
         box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
         display: none;
         a{
            display: block;
            line-height: 30px;
            background: #fff;
            color: #000;
            margin-top:0;
         }
        }
      }
      .item2:hover{
          .user-mune{
             display: block;
          }
      }
      a{
         color: #fff;
         background:#00A5EB;
         line-height: 20px;
         padding: 5px 10px;
         display: inline;
         font-size: 14px;
         border-radius: 4px;
         vertical-align: middle;
         margin-top: 12px;
      }
   }
}

@media screen and (max-width: 1050px) {
   .web__header {
      &-logo {
         position: relative;
         z-index: 1000;
         text-align: center;
         height: 50px;
         a {
            img {
                height: 50px;
            }
         }
      }

      &-more {
         width: 80px;
         height: 50px;
         text-align: center;
         display: inline-block;
         position: absolute;
         right: 0;
         top: 0;
         z-index: 1002;
         display: none;
         &-rgrad {
            width: 30px;
            height: 100%;
            background-image: linear-gradient(to left, #fff 0, rgba(62, 152, 240, 0) 100%);
            background-image: -webkit-linear-gradient(to left, #fff 0, rgba(62, 152, 240, 0) 100%);
         }

         .home {
            position: absolute;
            right: 0px;
            top: 0px;
            vertical-align: middle;
            padding: 16px 12px 10px;
            z-index: 99999;
            background: #fff;
            
            .homeline {
               display: block;
               width: 26px;
               height: 2px;
               margin-bottom: 6px;
               position: relative;
               background: #333;
               border-radius: 3px;
               z-index: 1;
               -webkit-transform-origin: 24px;
               transform-origin: 24px;
               transition: background .5s cubic-bezier(.77, .2, .05, 1), opacity .5s ease, transform .5s cubic-bezier(.77, .2, .05, 1), width .5s;
            }
            &.active {
               background: #fff;
               .homeline {
                  background-color: #333;
                  opacity: 1;
                  transform: rotate(45deg);
               }

               .homeline:nth-last-child(3) {
                  opacity: 1;
                  transform: rotate(-45deg);
               }

               .homeline:nth-last-child(2) {
                  width: 0;
                  opacity: 0;
                  transform: rotate(0);
                  transition: width .5s;
               }

               .homeline:last-child {
                  margin-bottom: 0;
               }
            }
         }
      }

      &-list {
         float: none;
         display: flex;
         display: -webkit-flex;
         white-space: nowrap;
         overflow-x: scroll;
         overflow: -moz-scrollbars-none;
         scrollbar-width: none;
         padding-right: 50px;
         margin-top: -1px;
         &-item {
            float: none;
            display: inline-block;
            overflow: visible;

            a {
               font-size: 16px;
               padding: 0 7px;
            }

           

            &.active {
               position: relative;

               i {
                  color: #fff;
               }
            }
         }

         &::-webkit-scrollbar {
            display: none;
            /* Chrome Safari */
         }
      }
      &-right {
         display: none;
      }

      &.web__app-header {
         background: #fff;
         z-index: 1000;
         .web__header-logo {
             width: 100%;
            text-align: left;
            background: #fff;
            padding-bottom: 11px;
            padding-left: 0px;
            a{
               width: 20%;
               display: inline-block;
               text-align: center;
            }
            &::after{
               content: '';
               height: 1px;
               width: 200%;
               background: #ccc;
               position: absolute;
               bottom: 9px;
               left: -50%;
                transform: scale(0.666);
                -webkit-transform: scale(0.666);
                z-index: 1000;
            }
         }
         .web__header-right{
            display: block;
            height: 50px;
            left: calc(20% + 20px);
            top: 0;
            z-index: 1000;
         }
         .web__header-list {
            position: relative;
            z-index: 1000;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            background: #fff;
            opacity: 1;

            &-item {
               width: 20%;
               height: 60px;
               
               text-align: center;
               padding-bottom: 13px;
               box-sizing: content-box;

               &-icon {
                  display: block;
                  text-align: center;
                  line-height: 30px;

                  i {
                     font-size: 20px;
                     color: #333
                  }
               }

               a {
                  display: block;
                  color: #333;
                  line-height: 30px;
                  span{
                     vertical-align: top;
                  }
               }

               &.active {
                  position: relative;
         
                  i {
                     color: #FFA500;
                  }

                  a {
                     color:#FFA500;
                  }
                  &::after{
                     height: 0;
                  }
               }
            }
         }

         .web__header-more {
            &-down {
               background: #fff;
               .home{
                  background: #fff;
               }
            }

            &-rgrad {
               background: #fff;
            }
         }

         .web__header-motal {
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 100;
            bottom: 0;
            left: 0;
            top: 0px;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            .bar{
               height: 90px;
               background: #fff;
            }
         }
      }
   }
}
@media screen and (max-width: 750px){
    .web__header {
        height: 50px;
        line-height: 50px;
      &-logo{
         padding-left: 10px;
         a{
            img{
               height: 50px;
            }
         }
      }
       &-more{
          display: block;
       }
       .web__header-right-item3{
          display: none;
       }
    }
}