.register__html{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
   display: none;
    &-warp{
        background-image: linear-gradient(180deg, #b9d7e4 1%, #ffffff 33%);
        position: absolute;
        left: 50%;
        bottom: 50%;
         transform: translate(-50%,50%);
        -webkit-transform: translate(-50%,50%);
        padding: 20px 30px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        border-radius: 8px;
        width: 380px;
        box-sizing: border-box;
        &-head{
            line-height: 40px;
            text-align: center;
            padding-bottom: 10px;
            box-sizing: content-box;
            position: relative;
            span{
                font-size: 25px;
                color: #00A5EB;
            }
            .register__html-close{
                position: absolute;
                right: 0px;
                top: 0px;
                 border-radius: 50%;
                 border: 1px solid #999;
                 width: 20px;
                 height: 20px;
                 text-align: center;
                 line-height:20px;
                 cursor: pointer;
                i {
                    font-size: 14px;
                    color: #00A5EB;
                    color: #999;
                    vertical-align: middle;
                }
            }
        }
        &-mid{
            .form-item{
                line-height: 40px;
                margin-bottom: 20px;
                position: relative;
                &::after{
                    content: '';
                    height: 1px;
                    width: 300%;
                    background: #00A5EB;
                    position: absolute;
                    left: -100%;
                    bottom: 0;
                   transform: scale(0.333);
                   -webkit-transform: scale(0.333);
                }
                .iconfont{
                    font-size: 22px;
                    vertical-align: middle;
                    color: #000;
                }
                &-label{
                    font-size: 15px;
                    color: #666;
                    width: 65px;
                    display: inline-block;
                    vertical-align: middle;
                } 
                &-input{
                    width: calc(100% - 100px);
                    display: inline-block;
                    line-height: 40px;
                    height: 40px;
                    input{
                        line-height: 40px;
                        height: 40px;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 0 3px;
                        border: none;
                        outline: none;
                        background: transparent;

                    } 
                    input:focus{
                        border: none;
                    }
                    .send-code{
                        position: absolute;
                        background: #b9d7e4;
                        font-size: 12px;
                        color: #00A5EB;
                        right: 0;
                        bottom: 0;
                        height: 100%;
                        padding: 0 4px;
                        cursor: pointer;
                        border:none;
                    }
                    &.has-email {
                        input{
                            width: 68%;
                        }
                    }
                }
                &-submit{
                    cursor: pointer;
                    border-radius: 4px;
                    line-height: 40px;
                    text-align: center;
                    background: #00A5EB;
                    font-size: 18px;
                    color: #fff;
                    width: 100%;
                    display: block;
                    border: none;
                }
            }
        }
    }
}
@media screen and (max-width: 450px){
    .register__html{
        &-warp{
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 20px 15px;
            box-sizing: border-box;
            transform: translate(0%, 0%);
            -webkit-transform: translate(0%, 0%);
            border-radius: 8px 8px 0 0;
        }
    }
}