<template>
<div class="news-header">
  <van-nav-bar
    :title="title"
    :left-text="leftTxet"
    :left-arrow="leftArrow"
    @click-left="onClickLeft"
    @click-right="onClickRight"/>
</div>
</template>

<script>
export default {
  props:{
    title:{
      type:String,
      default:''
    },
    leftArrow:{
      type:Boolean,
      default:true
    },
    leftTxet:{
      type:String,
      default:''
    }
  },
  methods:{
    onClickLeft() {
      this.$router.go(-1)
    },
    onClickRight() {
      Toast('按钮')
    }
  }
}
</script>

<style lang="scss">
.news-header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
  .van-nav-bar{
    height: 44px;
    line-height: 44px;
    background: #21b351;
    color: #fff;
    font-size: 20px;
    &__text{
      color: #fff;
    }
    .van-icon{
      color: #fff;
    }
    &__title{
      color: #fff;
      font-size: 18px;
    }
  }
}
</style>
