<template>
  <div class="news-header" ref="header">
    <div :class="barType  ? 'news-header-big' :'news-header-bar'">
      <div
        :class="activeIndex === item.key ? 'item active':'item'"
        v-for="item in listMap"
        :key="item.key"
        @click="headleClick(item)"
      >
       <span v-if="barType"><i :class="`iconfont ${item.icon}`"></i></span>
       <span>{{item.name}}</span>
      </div>
    </div>
    <i :class="barType ? 'news-header__menu iconfont icon-caidan':'news-header__menu iconfont icon-caidan2'" @click="togleBarType"></i>
  </div>
</template>

<script>
const listMap = [
  { name: '头条', key: '1',icon:'icon-toutiaoyangshi' },
  { name: '财经', key: '2',icon:'icon-caijingzaokan' },
  { name: '体育', key: '3' ,icon:'icon-tiyu'},
  { name: '娱乐', key: '4' ,icon:'icon-yule'},
  { name: '军事', key: '5' ,icon:'icon-junshi'},
  { name: '教育', key: '6' ,icon:'icon-jiaoyu'},
  { name: '科技', key: '7' ,icon:'icon-juxing'},
  { name: 'NBA', key: '8',icon:'icon-nbatext' }
]
export default {
  data() {
    return {
      listMap,
      activeIndex: '1',
      barType: 1
    }
  },
  methods: {
    headleClick(item) {
      this.activeIndex = item.key
      this.$emit('headlClick', item)
    },
    togleBarType(){
      this.barType = !this.barType
      this.$nextTick(()=>{
        const height = this.$refs.header.offsetHeight +44
        this.$emit('togleBarType',{height})
      })
    }
  }
}
</script>

<style scoped lang="scss">
.news-header {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #f5f5f5;
  box-sizing: content-box;
  .news-header-bar {
    display: flex;
    display: -webkit-flex;
    height: 44px;
    line-height: 44px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    background: #fff;
    .item {
      padding: 0 15px;
      font-size: 18px;
      color: #000;
      &.active {
        color: #21b351;
      }
    }
    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
  }
  .news-header-big{
     display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    .item{
      padding:10px 0;
      width: 25%;
      text-align: center;
      span{
        display: block;
      }
      .iconfont{
        font-size: 20px;
        color: #333;
        width: 20px;
        height: 20px;
      }
      &.active{
        color: #21b351;
        .iconfont{
           color: #21b351;
        }
      }
    }
  }
  &__menu {
    position: absolute;
    right: 0;
    top: -44px;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 30px;
    color: #fff;
    &.icon-caidan2{
        transform: rotate(90deg);
      }
  }
}
</style>