<!--
 * @Author: your name
 * @Date: 2020-11-04 09:49:22
 * @LastEditTime: 2020-11-05 16:42:09
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /thinkphp_news/app/web/view/pc/news.html
-->
{include file="/common/file" /}
<link rel="stylesheet" href="/web/css/news.css?v={$version}">
<div class="web__main">
  <div class="web__content news__main clearfix">
    <div class="news__main-l web__main-l">
      <div class="news__main-l-header">
        <span>当前位置：</span>
        <a href="/">首页</a>
        < <a href="/news/{$pathIndex}.html">{$pathName}</a>
          < <span>正文</span>
      </div>
      <div class="news__main-l-detail">
        <h3 class="news__main-l-detail-title">
          {$detail['title']}
        </h3>
        <div class="news__main-l-detail-bnt">
          <span class="author">
            <i class="iconfont icon-author"></i>
            {$detail.src}
          </span>
          <span class="time">
            <i class="iconfont icon-time"></i>
            {$detail.time}
          </span>
          <span class="browse">
            <i class="iconfont icon-liulan"></i>
            {$detail.browse}
          </span>
        </div>
        <div class="news__main-l-detail-content">
          {$detail['content']}
        </div>
        <div class="news__main-l-detail-btns">
            <span class="item detail-item-praise" onclick="healdDetailActive('{$detail.id}','praise')">
              <i class="iconfont icon-zan"></i>
              <span class="detail-praise">{$detail.praise}</span>
            </span>
            <span class="item detail-item-cai"  onclick="healdDetailActive('{$detail.id}','cai')">
              <i class="iconfont icon-cai"></i>
              <span class="detail-cai">{$detail.cai}</span>
            </span>
        </div>
      </div>
      <div class="news__main-l-related clearfix">
        <div class="news__main-l-related-title">
          <span>
            <i class="iconfont icon-xiangguan"></i>
            相关看点
          </span>
        </div>
        <div class="news__main-l-related-list clearfix">
          {volist name="newsList" id="item" length="3"}
          <a href="/news/{$item['key']}/{$item['id']}.html" class="news__main-l-related-list-item clearfix">
            <div class="news__main-l-related-list-item-text">
              <div class="title">{$item.title}</div>
            </div>
            <div class="news__main-l-related-list-item-pc">
              <img src="{$item.pic}" alt="" class="fm">
            </div>
            <div class="news__main-l-related-list-item-btns">
              <span class="author">
                <i class="iconfont icon-author"></i>
                {$item.src}
              </span>
              <span class="browse">
                <i class="iconfont icon-liulan"></i>
                {$item.browse}
              </span>
            </div>
          </a>
          {/volist}
        </div>
      </div>
      {include file="/common/news/comments"}
      {include file="/common/news/evaluation"}
    </div>
    <div class="news__main-r">
      {include file="/common/aside"}
    </div>
  </div>
</div>
{include file="/common/footer" /}
<script>
  function healdDetailActive(id,type) {
      const item = `.detail-item-${type}`
      if ($(item).hasClass('active')) return
      request('{:url("/news/detail/praise")}', {id, type }, function (res) {
        const dom = `.detail-${type}`
        let num = $(dom).html()
        $(dom).html(+num + 1)
        $(item).addClass('active')
      })
    }
</script>