body {
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  color: #666;
  font-family: Helvetica;
  background: #fff;
}
a {
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
}
/* 指正常的未被访问过的链接*/
a:visited {
  text-decoration: none !important;
}
/*指已经访问过的链接*/
a:hover {
  text-decoration: none !important;
}
/*指鼠标在链接*/
a:active {
  text-decoration: none !important;
}
/* 指正在点的链接*/
input {
  margin: 0;
  padding: 0;
  outline: none;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
button:focus,
input:focus,
textarea:focus,
textarea.active:focus,
button:active.focus,
input:active.focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.toast__html {
  z-index: 999999;
  position: fixed;
  left: 50%;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 10px;
  border-radius: 4px;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.toast__html-content {
  font-size: 14px;
  color: #fff;
}
