<!-- Navbar -->
<div class="admin__header">
    <span class="admin__header-name">coco网管理后台</span>
    <div class="admin__header-user">
        <ul class="layui-nav">
            <li class="layui-nav-item">
              <a href="">控制台<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
              <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
              <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
              </dl>
            </li>
          </ul>
    </div>
</div>