<div class="upload__html">
    <label class="layui-form-label">封面图 </label>

    <div class="layui-upload">
      <i class="iconfont icon-shangchuantupian" id="[id]"></i>
      <div class="upload__html-list upload__html-[id]"></div>
    </div>
</div>

<script>
  //本组件必填参数
  /*
    *  multiple 是否多张上传
    *  id 容器id
    *  path 存放目录
  */
  	layui.use(['upload'], function () {
      var  layer = layui.layer,upload = layui.upload;
      const multiple = [multiple]
      upload.render({
        elem: '#[id]',
        field:'image',
        accept:'images',
        size:3000,
        data:{path:'[path]'},
        url: "{:url('/web/upload/image')}",
        before: function (obj) {
          layer.load();
        },
        done: function (res) {
          layer.closeAll('loading');
          if(res.code ===1 ) {
            setUploadHtml(res.data)
            isHideAdd()
          }
        },
        error: function (res) {
           layer.closeAll('loading');
           layer.msg(res.msg,{icon:5,time:1000})
        }
      });

      // 删除上传的图标
     window.delCover = function (index){
       $(`.cover-${index}`).remove();
       isHideAdd()
      }
      //获取上传图片list 
      window.uploadList = function(){
        const imglist = $('.upload__html-[id]').find('img');
        const list = []
        for(var i=0;i<imglist.length;i++){
          list.push($(imglist[i]).attr('src'))
        }
        return list.join(',')
      }
      // 设置是否能再上传
      function isHideAdd(){
         const dom = $('.upload__html-[id]').find('img')
         const length = dom.length
         length && !multiple ? $('#[id]').hide() : $('#[id]').show()
      }
      // 设置html
      function setUploadHtml(data,indexs=0){
         const index = new Date().getTime() +indexs;
         const html = "<div class='cover-" + index + "'><span><i onclick=delCover(" + index + ") class='iconfont icon-dustbin_icon'></i></span><img src='" + data + "' data-id=" + index + "></div>"
         $('.upload__html-[id]').append(html)
      }
      // 初始化参数方法
      window.initUpload =function (data) {
        if (!data) return
        data.forEach((item,index) => {
           setUploadHtml(item,index)
        })
      }
    })
</script>