<div class="upload__html">
    <label class="layui-form-label">封面图 </label>

    <div class="layui-upload">
      <i class="iconfont icon-shangchuantupian" id="[id]"></i>
      <div class="upload__html-list"></div>
    </div>
</div>

<script>
  	layui.use(['upload'], function () {
      var  layer = layui.layer,upload = layui.upload;
      // 是否上传多张
      const multiple = [multiple]//[multiple] ? true :false;
       //多图片上传
      upload.render({
        elem: '#[id]',
        field:'image',
        url: "{:url('/web/upload/image')}", //改成您自己的上传接口
       // multiple,
        before: function (obj) {
          //预读本地文件示例，不支持ie8
          obj.preview(function (index, file, result) {
            const html = "<div class='cover-"+index+"'><span><i onclick=del("+index+") class='iconfont icon-dustbin_icon'></i></span><img src='"+result+"' data-id="+index+"></div>"
            $('.upload__html-list').append(html)
             isHideAdd()
          });
        //  layer.load()
        },
        done: function (res) {
      //    layer.closeAll('loading'); //关闭loading
          if(res.code ===0 ) console.log(res)
          //上传完毕
        },
        error: function () {
           layer.msg("上传失败",{icon:5,time:1000})
        }
      });

      // 删除上传的图标
     window.del = function (index){
       const dom = `.cover-${index}-0`
       $(dom).remove();
      }
      // 设置是否能再上传
      function isHideAdd(){
         const dom = $('.upload__html-list').find('img')
         const length = dom.length
         length && !multiple ? $('#[id]').hide() : $('#[id]').show()
      }

    })
</script>