<template>
<div class="empty">
   <i class="iconfont icon-kong"></i>
</div>
</template>

<script>
export default {
  
}
</script>

<style scoped lang="scss">
 .empty{
   text-align: center;
   .iconfont{
      font-size: 100px;
   }
 }
</style>