<template>
  <van-nav-bar :title="title" :left-text="leftText"  :left-arrow='arrow' :back-before = 'backBefore' @click-left="back"/>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    leftText: {
      type: String,
      default: ''
    },
    // 返回icon
    arrow: {
      type: Boolean,
      default: true
    },
    // 返回前是否确认，需要确认就有beforeBack方法
    backBefore: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    back() {
      if (this.backBefore) {
        this.$emit('beforeBack')
        return
      }
      this.$router.go(-1)
    }
  }
}
</script>
<style scoped lang="scss">
  .van-nav-bar{
    background: $primary;
    display: none;
    .van-icon{
      color:#fff;
    }
  }
  .van-hairline--bottom::after{
    display: none;
  }
  .van-nav-bar__title{
    color: #fff;
  }
</style>
