<template>
  <div class="loading-container">
    <div class="loading-box">
      <van-loading type="spinner" color="#ffffff" vertical>{{ loadingText  }}</van-loading>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    loadingText: {
      type: String,
      default: '加载中...'
    }
  }
}
</script>

<style scoped>
.loading-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.van-loading__text {
  color: #fff;
}

</style>
