<template>
<div>
  <Header leftTxet="返回" title="资讯详情"/>
  <div class="news-detail" v-html="data.content">
  </div>
</div>
</template>

<script>
import Header from './components/header'
export default {
  components:{
    Header
  },
  data(){
    return{
      data:null
    }
  },
  created(){
    const item = localStorage.getItem(`DETAIL_`)
    this.data = JSON.parse(item)
    console.log(this.data)
  },
  methods:{

  }
}
</script>

<style lang="scss">
.news-detail{

  background: #fff;
  padding:48px 15px 15px;
  .art_p{
    line-height: 30px;
    text-indent: 2em;
  }
  img,video{
    width: 100%;
  }
  .art_img_tit{
    font-size: 14px;
  }
}
</style>