<template>
  <div class="new-list" :style="{'padding-top':`${headHeight}px`}">
    <Header :leftArrow="false" title="今日推荐" />
    <HeaderBar @headlClick="headlHeaderClick" @togleBarType="togleBarType" />
    <van-pull-refresh
      v-model="isLoading"
      loading-text="加载中..."
      success-text="更新10条数据"
      @refresh="onRefresh"
      head-height="40"
    >
      <div style="padding-top:10px">
        <div
          class="new-list__item"
          v-for="(item,index) in newsList"
          :key="index"
          @click="healdClick(item)"
        >
          <div class="new-list__item-pc">
            <img v-lazy="item.pic" alt />
          </div>
          <div class="new-list__item-text">
            <div class="new-list__item-text-title">
              {{item.title}}
              <span
                class="new-list__item-text-btn"
                @click.stop="forwarding(item)"
              >同步百家号</span>
            </div>
            <div class="new-list__item-text-bar">
              <span>{{item.src}}</span>
              <span>{{item.time}}</span>
            </div>
          </div>
        </div>
      </div>
      <Empty v-if="!newsList.length" />
    </van-pull-refresh>
  </div>
</template>

<script>
import { DATA_APPKEY, BAIDU_APPKEY, BAIDU_APPID } from '@/config'
import { getNewsList, pubilish, fansListall } from '@/api/news'
import Empty from '@/components/Empty'
import Header from './components/header'
import HeaderBar from './components/headerBar'
import result from './list'
import { Toast } from 'vant'
export default {
  components: {
    Header,
    HeaderBar,
    Empty
  },
  data() {
    return {
      result,
      newsList: [],
      isLoading: false,
      headHeight: 186,
      listStyle: {},
      params: {
        channel: '头条',
        num: 10,
        start: 0,
        appkey: DATA_APPKEY
      }
    }
  },
  created() {
    this.getList()
   // this.getfansListall()
  },
  methods: {
    async getfansListall() {
      const params = {
        app_id: BAIDU_APPID,
        app_token: BAIDU_APPKEY
      }
      const res = await fansListall(params)
    },
    async getList() {
      // const list = this.result.result.list
      // this.newsList = list.concat(this.newsList)
       const res = await getNewsList(this.params)
       const list = res.result.list
       this.newsList = list.concat(this.newsList)
    },
    healdClick(item) {
      this.$router.push(`/news/detail`)
      localStorage.setItem(`DETAIL_`, JSON.stringify(item))
    },
    async forwarding(item) {
      const content = item.content //.replace(/[\r\n]/g, '')
      const params = {
        app_id: BAIDU_APPID,
        app_token: BAIDU_APPKEY,
        title: item.title,
        content,
        is_original: 0,
        origin_url: item.url,
        cover_images: JSON.stringify([{"src":item.pic}])
      }
      const res = await pubilish(params)
      if (res.code === 0){
        Toast(res.data.errmsg)
        return
      }
    },
    onRefresh() {
      setTimeout(async () => {
        this.params.start = this.params.start + 10
        await this.getList()
        this.isLoading = false
      }, 100)
    },
    headlHeaderClick(item) {
      this.params.channel = item.name
      this.params.start = 0
      this.newsList = []
      this.getList()
    },
    togleBarType(query) {
      this.headHeight = query.height
    }
  }
}
</script>

<style scoped lang="scss">
.new-list {
  padding-top: 200px;
  &__item {
    display: flex;
    display: -webkit-flex;
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    &-pc {
      width: 100px;
      height: 70px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-text {
      position: relative;
      flex: 1;
      &-title {
        line-height: 20px;
        height: 40px;
        font-size: #333;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &-btn {
        position: absolute;
        right: 0px;
        top: 23px;
        padding: 1px 4px;
        background: #21b351;
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
      }
      &-bar {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        color: #666;
        line-height: 20px;
        margin-top: 10px;
      }
    }
  }
}
</style>
