<template>
<div class="news-status-search">
  <Header title="文章状态查询" />
  <van-form @submit="onSubmit">
  <van-field
    v-model="params.article_id"
    label="文章id"
    name="article_id"
    placeholder="请输入文章id"
    :rules="[{ required: true, message: '请输入文章id' }]"
  />
  <div style="margin: 16px;">
    <van-button round block type="info" native-type="submit">
      查询
    </van-button>
  </div>
</van-form>
</div>
</template>

<script>
import { Toast } from 'vant'
import Header from './components/header'
import {searchStatus} from '@/api/news'
import {BAIDU_APPKEY, BAIDU_APPID } from '@/config'
export default {
  components:{
    Header,
  },
  data(){
    return{
      params:{
        app_id: BAIDU_APPID,
        app_token: BAIDU_APPKEY,
        article_id:null
      }
    }
  },
  methods:{
    async onSubmit(values) {
      console.log(this.params)
       const res = await searchStatus(this.params)
       const data = res.data
       if(data && data[this.params.article_id]){
         Toast(data[this.params.article_id].msg)
       }else{
         Toast('暂无状态信息')
       }
       console.log(res.data)
    },
  }
}
</script>

<style scoped lang="scss">
 .news-status-search{
   padding-top:54px
 }
</style>