<link rel="stylesheet" href="/web/css/common/aside.css?v={$version}">
<div class="web__aside">
  <div class="web__aside-headlines">
    <div class="web__aside-title">
      <span>
        <i class="iconfont icon-toutiaoyangshi"></i>
        头条看点
      </span>
    </div>
    <div class="web__aside-headlines-list">
      {volist name="hotList" id="item" key="i"}
      <div class="web__aside-headlines-list-item">
        {if condition="$i < 4"}
        <img src="/static/image/trophy{$i}.png" alt="">
        {else /}
          <span class="bage">{$i}</span>
        {/if}
        <a href="/news/hot/{$item['id']}.html">{$item['title']}</a>
      </div>
      {/volist}
    </div>
  </div>
  <div class="web__aside-rent">
    <div class="web__aside-title">
      <span>
        <i class="iconfont icon-guanzhu"></i>
        关注我们
      </span>
    </div>
    <div class="web__aside-rent-des">
      关注微信群，广告位招租
    </div>
    <div class="web__aside-rent-pc">
      <img src="/static/image/code.jpg" alt="二维码">
    </div>
    <div class="web__aside-rent-advertising">
      <img src="/static/image/gg.png" alt="广告">
    </div>
  </div>
</div>