<!--
 * @Author: your name
 * @Date: 2020-11-04 09:49:22
 * @LastEditTime: 2020-11-09 09:50:20
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /thinkphp_news/app/web/view/pc/common/file.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="{$seo['keyword']}" />
    <meta name="description" content="{$seo['desc']}" />
    <meta name="baidu-site-verification" content="code-vOYvxDkWR8" />
    <meta name="bytedance-verification-code" content="KehNM6xnwaaFWzp9yeYp" />
    <title>{$seo['title']}</title>
    <!-- <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"> -->
    <link rel="stylesheet" href="/common/css/style.css?v={$version}">
    <link rel="stylesheet" href="/web/css/common/common.css?v={$version}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2090112_gzf58brdqd.css">
    <link rel="stylesheet" href="/web/css/common/footer.css?v={$version}">
    <script src="/common/js/jquery-3.2.1.min.js"></script>
    <!-- <script src="__STATIC__/layui/layui.js"></script> -->
    <script src="/common/js/request.js?v={$version}"></script>
    <script src="/common/js/utils.js?v={$version}"></script>
    <script>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?2f85a3983cf5632e1a1707a23feeef55";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script>
      (function () {
        var el = document.createElement("script");
        el.src = "https://s3a.pstatp.com/toutiao/push.js?1782c31ce00c28fcc5d5708d306958928c6f44ff281bcfdc6edc5491e511546d39706e189ba90d2c22200eb3a47175dc4bd131d9dfaa875050168e18e2732bb1";
        el.id = "ttzz";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(el, s);
      })(window)
    </script>

  </head>
  <body>

{include file="/common/header" /}
{include file="/common/register" /}
{include file="/common/login" /}

  
