<!--
 * @Author: your name
 * @Date: 2020-11-04 09:49:22
 * @LastEditTime: 2020-11-05 16:47:35
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /thinkphp_news/app/web/view/pc/common/footer.html
-->
<div class="footer">
  <div class="web__content footer__content">
    <div class="footer__title">
      <span class="footer__title-text">友情链接</span>
    </div>
    <div class="footer__link-list">
      {volist name="linkList" id="item"}
      <a href="/news/{$item.url}.html">{$item['name']}</a>
      {/volist}
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-record web__content">
      ©可可观察（www.cocotao.cn）版权所有 备案：鄂ICP备2020020759号
      <a href="" class="map">网站地图</a>
    </div>
  </div>
</div>
</body>
</html>