<!--
 * @Author: your name
 * @Date: 2020-11-04 09:49:22
 * @LastEditTime: 2020-12-09 16:01:18
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /thinkphp_news/app/web/view/pc/common/footer.html
-->
<div class="footer">
  <div class="web__content footer__content">
    <div class="footer__title">
      <span class="footer__title-text">友情链接</span>
    </div>
    <div class="footer__link-list">
      {volist name="linkList" id="item"}
      <a href="{$item.url}">{$item['name']}</a>
      {/volist}
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-record web__content">
      <div class="item">本站所有内容均来自互联网，非盈利性组织，如页面内容侵犯到著作人及版权方，可与客服QQ:1849847528联系！</div>
      <div class="item">
        ©可可观察（www.cocotao.cn）版权所有 备案：
        <a href="https://beian.miit.gov.cn" rel="nofollow" target="_blank">鄂ICP备2020020759号</a>
        <a href="http://www.cocotao.cn/sitemap.xml" class="map" target="_blank">网站地图</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>