<!--
 * @Author: your name
 * @Date: 2020-11-09 09:30:50
 * @LastEditTime: 2020-11-09 10:24:25
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /news/app/web/view/common/header.html
-->
<link rel="stylesheet" href="/web/css/common/header.css?v={$version}">
<div class="web__header clearfix">
  <div class=" web__content clearfix">
    <div class="web__header-logo">
      <a href="/"><img src="/web/image/logo4.png" alt="logo"></a>
    </div>
    <ul class="web__header-list">
      {volist name="headerMap" id="item"}
      <li class="web__header-list-item {if condition='$item.key === $pathIndex'}active{/if}">
        <div class="web__header-list-item-icon"><i class="iconfont {$item.icon}"></i></div>
        <a href="/news/{$item.key}.html">{$item.name}</a>
      </li>
      {/volist}
    </ul>

    <div class="web__header-more">
      <div class="web__header-more-rgrad"></div>
      <div class="web__header-more-down">
        <span class="home" onclick="healdMeunClick()">
          <span class="homeline"></span>
          <span class="homeline"></span>
          <span class="homeline"></span>
        </span>
      </div>
    </div>
    <div class="web__header-right">
      <div class="web__header-right-time item" onclick="openRegisterMotal()">
         注册
      </div>
      <div class="web__header-right-weatch item">
        <!-- 登录 -->
      </div>
    </div>
    <div class="web__header-motal"></div>
  </div>
</div>
<script>
  function healdMeunClick(){
    const isActive = $('.web__header').hasClass('web__app-header')
    isActive ? meunUp() : meunDown()
  }
  function meunDown(){
    $('.web__header').addClass('web__app-header');
    $('.web__header-more-down .home').addClass('active')
    $('.web__app-header').animate({height:275},'slow')
  }
  function meunUp(){
    $('.web__header-more-down .home').removeClass('active')
    $('.web__app-header').animate({ height: 50 }, '50',function(){
      $('.web__header').removeClass('web__app-header');
      
    })
  }
</script>