<!--
 * @Author: your name
 * @Date: 2020-11-09 09:30:50
 * @LastEditTime: 2020-12-02 14:27:45
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /news/app/web/view/common/header.html
-->
<link rel="stylesheet" href="/web/css/common/header.css?v={$version}">
<div class="web__header clearfix">
  <div class=" web__content clearfix">
    <div class="web__header-logo">
      <a href="/"><img src="/common/image/logo.png" alt="logo"></a>
    </div>
    <ul class="web__header-list">
      {volist name="headerMap" id="item"}
      <li class="web__header-list-item {if condition='$item.key === $pathIndex'}active{/if}">
        <a href="/news/{$item.key}.html">
          <div onclick="sessionStorage.removeItem('ACTIVE_TYPE');">
            <div class="web__header-list-item-icon"><i class="iconfont {$item.icon}"></i></div>
            <span>{$item.name}</span>
          </div>
        </a>
      </li>
      {/volist}
    </ul>

    <div class="web__header-more">
      <div class="web__header-more-rgrad"></div>
      <div class="web__header-more-down">
        <span class="home" onclick="healdMeunClick()">
          <span class="homeline"></span>
          <span class="homeline"></span>
          <span class="homeline"></span>
        </span>
      </div>
    </div>
    <div class="web__header-right">
      <div class="web__header-right-item1 item" onclick="openLoginMotal()">
        登录
      </div>
      <div class="web__header-right-item2 item item2">
         <span class="nick">{$userInfo.nickname}</span>
         <div class="user-mune">
            <!-- <a href="{:url('/admin/index')}">
              个人中心
            </a> -->
            <a onclick="loginOut()">
              退出
            </a>
         </div>
      </div>
      
    </div>
    <div class="web__header-motal"><div class="bar"></div></div>
  </div>
</div>
<script>
  setHeadeLogin();
  function setHeadeLogin() {
      let userInfo = '{$Think.session.userInfo}';
          userInfo = userInfo ? JSON.parse(userInfo) : null;
      if (userInfo && userInfo.nickname) {
        $('.web__header-right-item1').hide();
        $('.web__header-right-item2').show()
      } else {
        $('.web__header-right-item1').show();
        $('.web__header-right-item2').hide()
      }
    }
    //
   function loginOut() {
      let userInfo = '{$Think.session.userInfo}';
          userInfo = userInfo ? JSON.parse(userInfo) : null;
      const user_id = userInfo.user_id;
      request("{:url('web/admin/loginOut')}", { user_id }, function (res) {
         toast(res.msg)
         $('.web__header-right-item1').show();
         $('.web__header-right-item2').hide();
         if('{$isMobile}') healdMeunClick();
      })
   }
  function healdMeunClick(){
    const isActive = $('.web__header').hasClass('web__app-header')
    isActive ? meunUp() : meunDown()
  }
  function meunDown(){
    $('.web__header').addClass('web__app-header');
    $('.web__header-more-down .home').addClass('active')
    $('.web__app-header').animate({height:275},'slow')
  }
  function meunUp(){
    $('.web__header-more-down .home').removeClass('active')
    $('.web__app-header').animate({ height: 50 }, '50',function(){
      $('.web__header').removeClass('web__app-header');
      
    })
  }
</script>