<!--
 * @Author: your name
 * @Date: 2020-10-12 11:56:07
 * @LastEditTime: 2020-10-12 15:55:46
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /thinkphp/app/view/view/index.html
-->
<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <p>{$name}</p>
  <p>{$age}</p>
  <p>{$assign}</p>
  <p>{$key}</p>
  <p>{$share}</p>
  <p>替换变量 __CSS__</p>
  <p>替换变量 __URL__</p>
  <p>替换变量 __JS__</p>
  <p>替换变量 __STATIC__</p>
  <p>cofig 配置自定义替换变量 __COCO__</p>
</body>

</html>